.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  height: 844px;
  align-items: center;
  
}

.pokeCard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}


  

